html,body {
    width: 100vw;
    height: 100vh;
    background: #2d2d2d;
    margin: 0;
    padding: 0;
}


#root {
    width: 100vw;
    height: 100vh;
    background: #2d2d2d;
    display: flex;
}
